.place__image {
  object-fit: contain;
  object-position: top;
  width: 440px;
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 1279px) {
  .place__image {
    width: 460px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 288px;
    height: 216px;
  }
}
