.intro__list {
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .intro__list {
    margin-top: 34px;
  }
}
