.text__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0;
  z-index: 3;
  max-width: 360px;
}

@media screen and (max-width: 767px) {
  .text__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0;
    max-width: 288px;
  }
}
