/* .cover__background {
  position: absolute;
  background-image: url("../../../images/cover__train-station.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 640px;
  width: 100%;
  padding: 0;
  opacity: 0.8;
  z-index: 0;
}

@media screen and (min-width: 1279px) {
  .cover__background {
    max-width: 1184px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
    max-width: 320px;
  }
}

.cover__background:hover {
  opacity: 0.3;
}
 */
