.footer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: min-content;
  margin: 0;
  padding: 92px 48px 0;
  justify-content: space-between;
}

@media screen and (min-width: 1279px) {
  .footer {
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 18px auto 0;
    align-self: flex-start;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    width: 186px;
    gap: 48px;
  }
}
